<div class="head_div">
  <h1 class="header">Passport</h1>
</div>

<div class="body_div">
<p>You have been to all of these amazing places:</p>

<ul>
  <% @all_places.each() do |location| %>
  <li><%= location.places() %></li>
  <% end %>
</ul>

<p>Where else have you been?</p>

<form action="/customs" method="post">
  <label for="place">Type in a location</label>
  <input id="place" name="place" type="text">

  <button type="submit">Add Location</button>
</form>

<form action="/resetpassport" method="post">
  <label for="reset">Would you like to reset your passport</label>
  <input id="reset" name="reset" type="text">

  <button type="submit">Reset</button>
</form>

</div>
